
  .gitter-open-chat-button {
    right: 1%;
    font-family: var(--base-font-family);
    letter-spacing: .2ch;
    background: var(--theme-color);
    box-shadow: 0 4px 13px var(--mono-base);
  }

  @media screen and (min-width: 768px) {
    .gitter-open-chat-button {
      font-size: .9375em;
    }
  }

  iframe {
    box-shadow: 0 0 10px var(--mono-tint2);
    border-radius: var(--border-radius-l);
    background: var(--mono-tint3);
  }

  iframe.plain {
    box-shadow: none;
    border: none;
    background: transparent;
    min-width: 0;
    width: 100%;
  }

  @media only screen and (max-device-width: 500px) {
    iframe.react {
      max-height: 60vh;
    }
  }