svg {
	 border: 1px dotted whitesmoke;
  }
text.AxisMaturity { fill: white; font-weight: 500;}

line.vertical {

	fill: rgb(87, 168, 238);
	stroke-width: 5px;
	stroke: #00B294;
	stroke-dasharray: 10px;
}

path.maturity-line {

	fill: none;
	stroke-width: 10px;
	stroke: #B0E0EC;
	stroke-dasharray: 0px;
}



path.line-vertical {

	fill: rgb(87, 168, 238);
	stroke-width: 10px;
	stroke: #00B294;
	stroke-dasharray: 0px;
}

path.domain {
	fill: none;
	stroke-width: 1px;
	stroke: #99B0BF;
	stroke-dasharray: 0px;
	opacity: .4

}
g.tick line {
	fill: none;
	stroke-width: 1px;
	stroke: #99B0BF;
	stroke-dasharray: 0px;
	opacity: .4;
}
circle.maturity {
	
	fill: white;
	stroke-width: 4px;
	stroke: #079FC3;
	stroke-dasharray: 0px;
}
circle.circleMaturity {
	
	fill: white;
	stroke-width: 4px;
	stroke: #079FC3;
	stroke-dasharray: 0px;
}
text.label {
	fill: #094267;
	stroke-width: 0px;
	font-weight: 600;
	stroke: #094267;
	stroke-dasharray: 0px;
	
}

polygon.past{
	fill: #99B0BF;
}

polygon.future{
	fill: #079FC3;
}

text.past-future {
	fill: white;
	font-weight: 500;
}

line.callout{
	fill: rgb(130, 129, 129);
	stroke:rgb(130, 129, 129);
	stroke-width: 1px

}
text.callout {
	color: #00395F;
	fill:  #00395F;
	font-weight: 600;
	stroke-width: 1px;

	
}