html, body {
    margin: 0px;
    background: #32333b;
    height: 100%;
    xfont-family: sans-serif;
    xfont-size: 0.9rem;
  }
  
  .container {
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .wrapper {
    display: flex;
    flex-flow: column wrap;
  }
  
  .wrapper:hover .caption {
    visibility: visible;
    opacity: 1;
  }
  
  .caption {
    color: #f2f2f2;
    display: flex;
    align-items:center;
    justify-content:center;
    visibility: hidden;
    opacity: 0;
    height: 50px;
    transition : all 0.4s ease-out;
  }
  
  .label {
    xtext-anchor: none;
    pointer-events : none;
    font-size: 6pt;
    text-shadow: none;
  }
  
  .node {
    cursor : pointer;
  }

  .the-node.green {
    fill: #7BB662;
  }
  .the-node.red {
    fill: #D61F1F;
  }
  .the-node.yellow {
    fill: #FFD301;
  }
  .the-node {
    fill: rgba(255,255,255,0.2)
  }

  svg {
    // border: 1px dotted whitesmoke;
    }
  .node {
    xstroke: silver;
    xstroke-width: 1px;
    }
  
  .nodetext{ fill: white;}  
  .link {
    fill: none;
    xstroke: silver;
    xstroke-width: 1px;
    }
    
    .selected {
    stroke: red !important;
    }
    
    text#tooltip {
    font-family: sans-serif;
    font-size: 12px;
    text-shadow: 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff;
    font-weight: 900;
    }
  
  .a{
    color: rgba(47, 4, 202, 0);
    
  }

  
  