svg {
	// border: 1px dotted whitesmoke;
  }
.node {
	stroke: silver;
	stroke-width: 1px;
  }

.nodetext{ fill: white;}  
  .link {
	fill: none;
	stroke: silver;
	stroke-width: 1px;
  }
  
  .selected {
	stroke: red !important;
  }
  
  text#tooltip {
	font-family: sans-serif;
	font-size: 12px;
	text-shadow: 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff;
	font-weight: 900;
  }

.a{
  color: rgba(47, 4, 202, 0);
  
}